.modal-close {
    position: fixed;
    right: 2%;
    cursor: pointer;
}
.modal-close:hover {
    color: firebrick;
}
.modal-close:active {
    color: darkred;
}

.clickable {
    color: dodgerblue;
    cursor: pointer;
}
.clickable:hover {
    color: deepskyblue;
}
.clickable:active {
    color: skyblue;
}

.truncate-sm-3 {
  width: 224.5156173706054px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
