<div class="modal-header">
    <span class="fa fa-times fa-lg modal-close" ng-click="ok()"></span>
    <h3 class="modal-title" id="modal-title">Student {{actions[0].subSession.accessSession.student.id}} actions</h3>
</div>
<div class="modal-body container-fluid" id="modal-body">
    <div ng-repeat="access in accesses.data | orderBy: 'timeStart' track by $index">
        <div class="row">
            <h4 class="col-md-12">
                Access on {{getGreetingTime(access.timeStart)}}
            </h4>
            <h5 class="col-sm-4">
                Action
            </h5>
            <h5 class="col-sm-3">
                Time spent
            </h5>
            <h5 class="col-sm-5">
                Time
            </h5>
        </div>
        <div class="row" ng-repeat="capsule in access.capsules">
            <div class="col-sm-4">
                {{capsule.actions.length}} {{config.dict.studentAction.type[capsule.type]}}
                <span class="clickable" ng-click="toggleShowActions(capsule)"><i class="fa fa-expand" aria-hidden="true"></i></span>

            </div>
            <div class="col-sm-3">
                <span ng-show="capsule.timeSpent > 0">{{capsule.timeSpent | milliSecondsToTimeString}}</span>
            </div>
            <div class="col-sm-5">
                {{capsule.timeStart | amDateFormat: config.format.date.summaryModal.studentAction}}<span ng-show="capsule.actions.length > 1"> to {{capsule.timeEnd | amDateFormat: config.format.date.summaryModal.studentAction}}</span>
            </div>
            <div ng-show="capsule.showActions">
                <h6 class="col-sm-4">
                    Resource
                </h6>
                <h6 class="col-sm-3">
                    Time spent
                </h6>
                <h6 class="col-sm-5">
                    Time
                </h6>
                <div ng-repeat="action in capsule.actions">
                    <div class="col-sm-4">
                        {{getResource(action)}}
                    </div>
                    <div class="col-sm-3">
                        <span ng-show="action.timeSpent > 0">{{action.timeSpent | milliSecondsToTimeString}}</span>
                    </div>
                    <div class="col-sm-5">
                        {{action.time | amDateFormat: config.format.date.summaryModal.studentAction}}
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
<!--    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>
