<div class="modal-header">
    <span class="fa fa-times fa-lg modal-close" ng-click="ok()"></span>
    <h3 class="modal-title" id="modal-title">Student {{actions[0].subSession.accessSession.student.id}} actions</h3>
</div>
<div class="modal-body container-fluid" id="modal-body">
    <div ng-repeat="access in accesses.data | orderBy: 'timeStart' track by $index">
        <div class="row">
            <h4 class="col-sm-12">
                Access on {{getGreetingTime(access.timeStart)}}
            </h4>
            <h5 class="col-sm-3">
                Action
            </h5>
            <h5 class="col-sm-3">
                Resource
            </h5>
            <h5 class="col-sm-3">
                Time spent
            </h5>
            <h5 class="col-sm-3">
                Time
            </h5>
        </div>
        <div class="row" ng-repeat="capsule in access.capsules">
            <div class="col-sm-3">
                {{config.dict.studentAction.type[capsule.type]}}
            </div>
            <div class="col-sm-3 truncate-sm-3">
            </div>
            <div class="col-sm-3">
                {{capsule.timeSpent | amDurationFormat: 'humanize'}}
            </div>
            <div class="col-sm-3">
                {{capsule.timeStart | amDateFormat: config.format.date.summaryModal.studentAction}} to {{capsule.timeEnd | amDateFormat: config.format.date.summaryModal.studentAction}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
<!--    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>
