<div ng-controller="SummaryController"
     class="container">
    <div class="row">
        <h2>Summary</h2>
    </div>
    <form id="summary-request"
          class="form-group">
        <div ng-show="!requestedSummaries" class="row justify-content-center">
            <div class="col">
                <label for="students"
                       form="summary-request">Students</label>
                <div style="width:500px;" id="students"
                     ng-dropdown-multiselect=""
                     options="students"
                     selected-model="requestData.students"
                     extra-settings="studentDropdownSettings">
                </div>
            </div>
            <div class="col">
                <label for="date-range"
                       form="summary-request">Date range</label>
                <input id="date-range"
                       form="summary-request"
                       date-range-picker class="form-control date-picker"
                       type="text"
                       ng-model="daterangepicker.daterange"
                       options="daterangepicker.options"
                       ng-required="true"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input ng-show="requestedSummaries"
                       id="go"
                       form="summary-request"
                       class="form-control btn-primary"
                       type="submit"
                       ng-click="reload()"
                       value="<- Back" />
                <input ng-show="!requestedSummaries"
                       id="go"
                       form="summary-request"
                       class="form-control btn-primary"
                       type="submit"
                       ng-click="requestSummaries(requestData)"
                       value="Go" />
            </div>
        </div>
    </form>
    <div ng-show="completeSummaries != undefined">
        <div ng-repeat="completeSummary in completeSummaries">
            <h3>Student {{completeSummary.student.id}}</h3>
            <div>
                <h4>Complete summary:</h4>
                <span ng-show="completeSummary.studentActionsTotal == 0">nothing</span>
                <span ng-show="completeSummary.studentActionsTotal != 0">
                    Performance measure: {{ completeSummary.performanceMeasure }} <br />
                    Score: {{ completeSummary.score }} <br />
                    Questions hits: {{ completeSummary.hitsTotal }} <br />
                    Questions fails: {{ completeSummary.failsTotal }} <br />
                    Badges won: {{completeSummary.badgesTotal}} <br />
                    Problem solving tries: {{ completeSummary.problemsTriedTotal }} <br />
                    Tries per problem: {{ completeSummary.triesPerProblem | number : 1 }} <br />
                    Tries to hit: {{ completeSummary.triesToHitAverage | number : 1 }} <br />
                    Problems repeated: {{ completeSummary.problemsRepeated }} <br />
                    Time solving problems: {{ completeSummary.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                    Time per problem: {{ completeSummary.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                    Contents viewed: {{ completeSummary.contentsViewedTotal }} <br />
                    Contents repeated: {{ completeSummary.contentsRepeated }} <br />
                    Views per content: {{ completeSummary.viewsPerContent | number : 1 }} <br />
                    Time viewing contents: {{ completeSummary.contentViewTotalTime | milliSecondsToTimeString }} <br />
                    Time per content: {{ completeSummary.contentViewAverageTime | milliSecondsToTimeString }} <br />
                    New levels reached: {{ completeSummary.newLevelsReached }} <br />
                    Last level reached: {{ completeSummary.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                    Dummy tests questions done: {{ completeSummary.dummyTestQuestionsDone }} <br />
                    Learning goals reached: {{ completeSummary.learningGoalsReachedTotal }} <br />
                    Actions: <span class="clickable"
                                   ng-click="modals.actions.open(completeSummary.studentActionsTracked)"> {{ completeSummary.studentActionsTotal }} </span><br />
                    Access: {{ completeSummary.subSessionsTotal }} <br />
                    Actions per access: {{ completeSummary.actionsPerSubSessionAverage | number : 1 }} <br />
                </span>
            </div>
        </div>
        <div ng-repeat="summary in summaries">
            <div ng-repeat="summaryField in summary | orderBy: 'startDate'">
                <h3>Student: {{summaryField.student.id}}</h3>
                <hr />
                <h4 ng-show="summariesInterval == 'day'">{{ summaryField.timeStart | date: config.format.date.summary.startingDay }}</h4>
                <h4 ng-show="summariesInterval == 'week'">Week starting on {{ summaryField.timeStart | date: config.format.date.summary.startingDay }}</h4>
                <h4 ng-show="summariesInterval == 'month'">Month starting on {{ summaryField.timeStart | date: config.format.date.summary.startingDay }}</h4>
                <span ng-show="summaryField.studentActionsTotal == 0">nothing</span>
                <span ng-show="summaryField.studentActionsTotal != 0">
                    Performance measure: {{ summaryField.performanceMeasure }} <br />
                    Score: {{ summaryField.score }} <br />
                    Questions hits: {{ summaryField.hitsTotal }} <br />
                    Questions fails: {{ summaryField.failsTotal }} <br />
                    Badges won: {{summaryField.badgesTotal}} <br />
                    Problem solving tries: {{ summaryField.problemsTriedTotal }} <br />
                    Tries per problem: {{ summaryField.triesPerProblem | number : 1 }} <br />
                    Tries to hit: {{ summaryField.triesToHitAverage | number : 1 }} <br />
                    Problems repeated: {{ summaryField.problemsRepeated }} <br />
                    Time solving problems: {{ summaryField.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                    Time per problem: {{ summaryField.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                    Contents viewed: {{ summaryField.contentsViewedTotal }} <br />
                    Contents repeated: {{ summaryField.contentsRepeated }} <br />
                    Views per content: {{ summaryField.viewsPerContent | number : 1 }} <br />
                    Time viewing contents: {{ summaryField.contentViewTotalTime | milliSecondsToTimeString }} <br />
                    Time per content: {{ summaryField.contentViewAverageTime | milliSecondsToTimeString }} <br />
                    New levels reached: {{ summaryField.newLevelsReached }} <br />
                    Last level reached: {{ summaryField.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                    Dummy tests questions done: {{ summaryField.dummyTestQuestionsDone }} <br />
                    Learning goals reached: {{ summaryField.learningGoalsReachedTotal }} <br />
                    Actions: <span class="clickable"
                                   ng-click="makeAccesses(completeSummary.studentActionsTracked);modals.actions.open(summaryField.studentActionsTracked)"> {{ summaryField.studentActionsTotal }} </span> <br />
                    Access: {{ summaryField.subSessionsTotal }} <br />
                    Actions per access: {{ summaryField.actionsPerSubSessionAverage | number : 1 }}
                </span>
            </div>
        </div>
    </div>
</div>
