<div ng-controller="SummaryController">
	<h2>Summary</h2>
    <form class="form-group">
        <span ng-dropdown-multiselect="" options="students" selected-model="requestData.students" extra-settings="studentDropdownSettings"></span>
        <input date-range-picker class="form-control date-picker" type="text" ng-model="daterangepicker.daterange" options="daterangepicker.options"/>
        <input class="form-control btn-primary" type="submit" ng-click="requestSummaries(requestData)" value="Go" />
    </form>
    Friday, May 1st 2015 - Thursday, December 31st 2015
    <div ng-show="completeSummaries != undefined">
        <div ng-repeat="completeSummary in completeSummaries">
            <h3>Student: {{completeSummary.student.id}}</h3>
            <div>
                <h4>Complete summary:</h4>
                <span ng-show="completeSummary.studentActionsTotal == 0">nothing</span>
                <span ng-show="completeSummary.studentActionsTotal != 0">
                    Questions hits: {{ completeSummary.hitsTotal }} <br />
                    Questions fails: {{ completeSummary.failsTotal }} <br />
                    Problem solving tries: {{ completeSummary.problemsTriedTotal }} <br />
                    Tries per problem: {{ completeSummary.triesPerProblem | number : 1 }} <br />
                    Tries to hit: {{ completeSummary.triesToHitAverage | number : 1 }} <br />
                    Problems repeated: {{ completeSummary.problemsRepeated }} <br />
                    Time solving problems: {{ completeSummary.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                    Time per problem: {{ completeSummary.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                    Contents viewed: {{ completeSummary.contentsViewedTotal }} <br />
                    Contents repeated: {{ completeSummary.contentsRepeated }} <br />
                    Views per content: {{ completeSummary.viewsPerContent | number : 1 }} <br />
                    Time viewing contents: {{ completeSummary.contentViewTotalTime | milliSecondsToTimeString }} <br />
                    Time per content: {{ completeSummary.contentViewAverageTime | milliSecondsToTimeString }} <br />
                    New levels reached: {{ completeSummary.newLevelsReached }} <br />
                    Last level reached: {{ completeSummary.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                    Dummy tests questions done: {{ completeSummary.dummyTestQuestionsDone }} <br />
                    Learning goals reached: <a href="" ng-click="showLearningGoals(completeSummary.learningGoalsReachedTrackedJson)"> {{ completeSummary.learningGoalsReachedTotal }} </a> <br />
                    Actions: {{ completeSummary.studentActionsTotal }} <br />
                    Access: {{ completeSummary.subSessionsTotal }} <br />
                    Actions per access: {{ completeSummary.actionsPerSubSessionAverage | number : 1 }} <br />
                </span>
            </div>
        </div>
        <div ng-repeat="summary in summaries">
            <h3>Student: {{summary.student.id}}</h3>
            <div ng-repeat="summaryField in summary | orderBy: 'startDate'">
                <hr />
                <h4 ng-show="summaryInterval == 'day'">Day: {{ summaryField.timeStart | date: 'fullDate' }}</h4>
                <h4 ng-show="summaryInterval == 'week'">Week: {{ summaryField.timeStart | date: 'fullDate' }}</h4>
                <h4 ng-show="summaryInterval == 'month'">Month: {{ summaryField.timeStart | date: 'fullDate' }}</h4>
                <span ng-show="summaryField.studentActionsTotal == 0">nothing</span>
                <span ng-show="summaryField.studentActionsTotal != 0">
                    Questions hits: {{ summaryField.hitsTotal }} <br />
                    Questions fails: {{ summaryField.failsTotal }} <br />
                    Problem solving tries: {{ summaryField.problemsTriedTotal }} <br />
                    Tries per problem: {{ summaryField.triesPerProblem | number : 1 }} <br />
                    Tries to hit: {{ summaryField.triesToHitAverage | number : 1 }} <br />
                    Problems repeated: {{ summaryField.problemsRepeated }} <br />
                    Time solving problems: {{ summaryField.problemSolvingTotalTime | milliSecondsToTimeString }} <br />
                    Time per problem: {{ summaryField.problemSolvingAverageTime | milliSecondsToTimeString }} <br />
                    Contents viewed: {{ summaryField.contentsViewedTotal }} <br />
                    Contents repeated: {{ summaryField.contentsRepeated }} <br />
                    Views per content: {{ summaryField.viewsPerContent | number : 1 }} <br />
                    Time viewing contents: {{ summaryField.contentViewTotalTime | milliSecondsToTimeString }} <br />
                    Time per content: {{ summaryField.contentViewAverageTime | milliSecondsToTimeString }} <br />
                    New levels reached: {{ summaryField.newLevelsReached }} <br />
                    Last level reached: {{ summaryField.lastLevelReached.replace('http://meututor.com.br/Ontologies/MeuTutor.Gamification.Instances.owl#Level_', 'level ') }} <br />
                    Dummy tests questions done: {{ summaryField.dummyTestQuestionsDone }} <br />
                    Learning goals reached: {{ summaryField.learningGoalsReachedTotal }} <br />
                    Actions: {{ summaryField.studentActionsTotal }} <br />
                    Access: {{ summaryField.subSessionsTotal }} <br />
                    Actions per access: {{ summaryField.actionsPerSubSessionAverage | number : 1 }}
                </span>
            </div>
        </div>
    </div>
</div>
